In [3]:
import pandas as pd

# Database 1

In [4]:
data = pd.read_csv("/Users/jackmcfall/Desktop/FYP/Original CSVs/SerieA_DB.csv") 
data = pd.DataFrame(data)
data

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani
...,...,...,...,...,...,...,...,...
2097,NaN,Bologna,2023-06-04,Sun,Lecce,NaN,NaN,NaN
2098,NaN,Fiorentina,2023-06-04,Sun,Sassuolo,NaN,NaN,NaN
2099,NaN,Spezia,2023-06-04,Sun,Roma,NaN,NaN,NaN
2100,NaN,Sampdoria,2023-06-04,Sun,Napoli,NaN,NaN,NaN
2101,NaN,Lazio,2023-06-04,Sun,Empoli,NaN,NaN,NaN

In [5]:
data = data.dropna(how='all')
data

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani
...,...,...,...,...,...,...,...,...
2097,NaN,Bologna,2023-06-04,Sun,Lecce,NaN,NaN,NaN
2098,NaN,Fiorentina,2023-06-04,Sun,Sassuolo,NaN,NaN,NaN
2099,NaN,Spezia,2023-06-04,Sun,Roma,NaN,NaN,NaN
2100,NaN,Sampdoria,2023-06-04,Sun,Napoli,NaN,NaN,NaN
2101,NaN,Lazio,2023-06-04,Sun,Empoli,NaN,NaN,NaN

In [6]:
data = data[data['Score'].notna()]
data

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani
...,...,...,...,...,...,...,...,...
1767,"23,377",Cremonese,2022-10-02,Sun,Lecce,1–1,15:00,Stadio Comunale Via Del Mare
1768,"19,806",Monza,2022-10-02,Sun,Sampdoria,0–3,15:00,Stadio Comunale Luigi Ferraris
1769,"18,265",Fiorentina,2022-10-02,Sun,Atalanta,1–0,18:00,Gewiss Stadium
1770,"34,662",Bologna,2022-10-02,Sun,Juventus,3–0,20:45,Allianz Stadium
1771,"15,352",Udinese,2022-10-03,Mon,Hellas Verona,1–2,20:45,Stadio Marc'Antonio Bentegodi

In [7]:
# Convert the DataFrame to a CSV file
data.to_csv('SerieA_DB.csv', index=False)

# Database 2

In [8]:
data1 = pd.read_csv("/Users/jackmcfall/Desktop/SerieA_DB_2.0_fixed.csv")
data1 = pd.DataFrame(data1)
data1

              Away        Date Half_time            Home  Score  year
0         Juventus  2018-08-18     (1-1)         Chievo   2 - 3  2018
1           Napoli  2018-08-18     (1-1)          Lazio   1 - 2  2018
2          AS Roma  2018-08-19     (0-0)         Torino   0 - 1  2018
3             SPAL  2018-08-19     (0-0)        Bologna   0 - 1  2018
4         Cagliari  2018-08-19     (1-0)         Empoli   2 - 0  2018
...            ...         ...       ...             ...    ...   ...
1595         Monza  2022-10-02     (0-1)      Sampdoria   0 - 3  2022
1596   Salernitana  2022-10-02     (2-0)       Sassuolo   5 - 0  2022
1597    Fiorentina  2022-10-02     (0-0)       Atalanta   1 - 0  2022
1598       Bologna  2022-10-02     (1-0)       Juventus   3 - 0  2022
1599       Udinese  2022-10-03     (1-0)  Hellas Verona   1 - 2  2022

[1600 rows x 6 columns]

In [9]:
#removing whitespace 

data1['Home'] = data1['Home'].str.strip()
data1['Away'] = data1['Away'].str.strip()
data1['Score'] = data1['Score'].str.replace(" - ","-")
data1['Score'] = data1['Score'].str.strip()
data1

             Away        Date Half_time           Home Score  year
0        Juventus  2018-08-18     (1-1)         Chievo   2-3  2018
1          Napoli  2018-08-18     (1-1)          Lazio   1-2  2018
2         AS Roma  2018-08-19     (0-0)         Torino   0-1  2018
3            SPAL  2018-08-19     (0-0)        Bologna   0-1  2018
4        Cagliari  2018-08-19     (1-0)         Empoli   2-0  2018
...           ...         ...       ...            ...   ...   ...
1595        Monza  2022-10-02     (0-1)      Sampdoria   0-3  2022
1596  Salernitana  2022-10-02     (2-0)       Sassuolo   5-0  2022
1597   Fiorentina  2022-10-02     (0-0)       Atalanta   1-0  2022
1598      Bologna  2022-10-02     (1-0)       Juventus   3-0  2022
1599      Udinese  2022-10-03     (1-0)  Hellas Verona   1-2  2022

[1600 rows x 6 columns]

In [10]:
# Convert the DataFrame to a CSV file
data1.to_csv('SerieA_DB_2.0.csv', index=False)

# Cleaning the Data

In [11]:
column = data['Home'].drop_duplicates()
column

0              Chievo
1               Lazio
2              Torino
3            Sassuolo
4              Empoli
5               Parma
6             Bologna
7            Atalanta
9            Juventus
10             Napoli
11               SPAL
12           Cagliari
13              Genoa
14              Inter
15          Frosinone
16            Udinese
17         Fiorentina
18               Roma
20              Milan
26          Sampdoria
426     Hellas Verona
439             Lecce
446           Brescia
853            Spezia
855           Crotone
860         Benevento
1285      Salernitana
1303          Venezia
1687            Monza
1710        Cremonese
Name: Home, dtype: object

In [12]:
column = data1['Home'].drop_duplicates()
column

0              Chievo
1               Lazio
2              Torino
3             Bologna
4              Empoli
5               Parma
6            Sassuolo
7            Atalanta
8            Juventus
9              Napoli
10               SPAL
11           Cagliari
12         Fiorentina
13          Frosinone
14              Genoa
15        Inter Milan
16            Udinese
17            AS Roma
18           AC Milan
25          Sampdoria
385     Hellas Verona
397             Lecce
404           Brescia
771            Spezia
773           Crotone
777         Benevento
1159      Salernitana
1175          Venezia
1523            Monza
1542        Cremonese
Name: Home, dtype: object

In [13]:
name_map = {"Inter":"Inter Milan",
           "Roma":"AS Roma",
           "Milan":"AC Milan",
           "Chievo":"Chievo", 
           "Lazio":"Lazio",
            "Torino":"Torino",
            "Bologna":"Bologna",
            "Empoli":"Empoli",
            "Parma":"Parma",
            "Sassuolo":"Sassuolo",
            "Atalanta":"Atalanta",
            "Juventus":"Juventus",
            "Napoli":"Napoli",
            "SPAL":"SPAL",
            "Cagliari":"Cagliari",
            "Fiorentina":"Fiorentina",
            "Frosinone":"Frosinone",
            "Genoa":"Genoa",
            "Udinese":"Udinese",
            "Sampdoria":"Sampdoria",
            "Hellas Verona":"Hellas Verona",
            "Lecce":"Lecce",
            "Brescia":"Brescia",
            "Spezia":"Spezia",
            "Crotone":"Crotone",
            "Benevento":"Benevento",
            "Salernitana":"Salernitana",
            "Venezia":"Venezia",
            "Monza":"Monza",
            "Cremonese":"Cremonese",
           }

In [14]:
data['Home'] = data['Home'].map(name_map, na_action='ignore')
data['Away'] = data['Away'].map(name_map, na_action='ignore')
data

/var/folders/tn/rydckkmd76b4lztgdsr35k_r0000gn/T/ipykernel_62802/2198985067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Home'] = data['Home'].map(name_map, na_action='ignore')
/var/folders/tn/rydckkmd76b4lztgdsr35k_r0000gn/T/ipykernel_62802/2198985067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Away'] = data['Away'].map(name_map, na_action='ignore')

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",AS Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter Milan,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani
...,...,...,...,...,...,...,...,...
1767,"23,377",Cremonese,2022-10-02,Sun,Lecce,1–1,15:00,Stadio Comunale Via Del Mare
1768,"19,806",Monza,2022-10-02,Sun,Sampdoria,0–3,15:00,Stadio Comunale Luigi Ferraris
1769,"18,265",Fiorentina,2022-10-02,Sun,Atalanta,1–0,18:00,Gewiss Stadium
1770,"34,662",Bologna,2022-10-02,Sun,Juventus,3–0,20:45,Allianz Stadium
1771,"15,352",Udinese,2022-10-03,Mon,Hellas Verona,1–2,20:45,Stadio Marc'Antonio Bentegodi

In [15]:
column = data['Away'].drop_duplicates()
column

0            Juventus
1              Napoli
2             AS Roma
3         Inter Milan
4            Cagliari
5             Udinese
6                SPAL
7           Frosinone
9               Lazio
10           AC Milan
11              Parma
12           Sassuolo
13             Empoli
14             Torino
15            Bologna
16          Sampdoria
17             Chievo
18           Atalanta
29              Genoa
32         Fiorentina
428           Brescia
429             Lecce
439     Hellas Verona
844           Crotone
850         Benevento
861            Spezia
1269      Salernitana
1271          Venezia
1689        Cremonese
1701            Monza
Name: Away, dtype: object

In [16]:
from datetime import datetime
data['Date'] = pd.to_datetime(data['Date'])
data

/var/folders/tn/rydckkmd76b4lztgdsr35k_r0000gn/T/ipykernel_62802/18343924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'] = pd.to_datetime(data['Date'])

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",AS Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter Milan,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani
...,...,...,...,...,...,...,...,...
1767,"23,377",Cremonese,2022-10-02,Sun,Lecce,1–1,15:00,Stadio Comunale Via Del Mare
1768,"19,806",Monza,2022-10-02,Sun,Sampdoria,0–3,15:00,Stadio Comunale Luigi Ferraris
1769,"18,265",Fiorentina,2022-10-02,Sun,Atalanta,1–0,18:00,Gewiss Stadium
1770,"34,662",Bologna,2022-10-02,Sun,Juventus,3–0,20:45,Allianz Stadium
1771,"15,352",Udinese,2022-10-03,Mon,Hellas Verona,1–2,20:45,Stadio Marc'Antonio Bentegodi

In [17]:
data['Home'].drop_duplicates()

0              Chievo
1               Lazio
2              Torino
3            Sassuolo
4              Empoli
5               Parma
6             Bologna
7            Atalanta
9            Juventus
10             Napoli
11               SPAL
12           Cagliari
13              Genoa
14        Inter Milan
15          Frosinone
16            Udinese
17         Fiorentina
18            AS Roma
20           AC Milan
26          Sampdoria
426     Hellas Verona
439             Lecce
446           Brescia
853            Spezia
855           Crotone
860         Benevento
1285      Salernitana
1303          Venezia
1687            Monza
1710        Cremonese
Name: Home, dtype: object

In [45]:
filtered_df = data[data['Home'] == 'Juventus']

# Print the filtered DataFrame
print(filtered_df['Venue'].drop_duplicates())

332    Allianz Stadium
Name: Venue, dtype: object

In [19]:
data.head()

,Attendance,Away,Date,Day,Home,Score,Time,Venue
0,"29,500",Juventus,2018-08-18,Sat,Chievo,2–3,18:00,Stadio Marc'Antonio Bentegodi
1,"32,000",Napoli,2018-08-18,Sat,Lazio,1–2,20:30,Stadio Olimpico
2,"18,000",AS Roma,2018-08-19,Sun,Torino,0–1,18:00,Stadio Olimpico di Torino
3,"19,104",Inter Milan,2018-08-19,Sun,Sassuolo,1–0,20:30,Stadio Città del Tricolore
4,"7,335",Cagliari,2018-08-19,Sun,Empoli,2–0,20:30,Stadio Carlo Castellani

In [20]:
data1.head()

       Away        Date Half_time     Home Score  year
0  Juventus  2018-08-18     (1-1)   Chievo   2-3  2018
1    Napoli  2018-08-18     (1-1)    Lazio   1-2  2018
2   AS Roma  2018-08-19     (0-0)   Torino   0-1  2018
3      SPAL  2018-08-19     (0-0)  Bologna   0-1  2018
4  Cagliari  2018-08-19     (1-0)   Empoli   2-0  2018

In [21]:
data = data.sort_values(by=['Away','Home', 'Date', 'Score'])
data1 = data1.sort_values(by=['Away','Home', 'Date', 'Score'])

In [22]:
data.head()

,Attendance,Away,Date,Day,Home,Score,Time,Venue
240,"37,581",AC Milan,2019-02-03,Sun,AS Roma,1–1,20:30,Stadio Olimpico
515,"44,333",AC Milan,2019-10-27,Sun,AS Roma,2–1,18:00,Stadio Olimpico
1104,NaN,AC Milan,2021-02-28,Sun,AS Roma,1–2,20:45,Stadio Olimpico
1383,"51,001",AC Milan,2021-10-31,Sun,AS Roma,1–2,20:45,Stadio Olimpico
257,"20,801",AC Milan,2019-02-16,Sat,Atalanta,1–3,20:30,Stadio Atleti Azzurri d'Italia

In [23]:
data1.head()

          Away        Date Half_time      Home Score  year
217   AC Milan  2019-02-03     (0-1)   AS Roma   1-1  2019
467   AC Milan  2019-10-27     (1-0)   AS Roma   2-1  2019
997   AC Milan  2021-02-28     (0-1)   AS Roma   1-2  2021
1248  AC Milan  2021-10-31     (0-1)   AS Roma   1-2  2021
232   AC Milan  2019-02-16     (1-1)  Atalanta   1-3  2019

In [24]:
import re

data["Score"] = data["Score"].str.replace(r"[^\x00-\x7F-]+", "")
data1["Score"] = data1["Score"].str.replace(r"[^\x00-\x7F]+", "")

/var/folders/tn/rydckkmd76b4lztgdsr35k_r0000gn/T/ipykernel_62802/2449377133.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data["Score"] = data["Score"].str.replace(r"[^\x00-\x7F-]+", "")
/var/folders/tn/rydckkmd76b4lztgdsr35k_r0000gn/T/ipykernel_62802/2449377133.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data1["Score"] = data1["Score"].str.replace(r"[^\x00-\x7F]+", "")

In [25]:
# Split the values in the "Score" column into two parts
data[["Score1", "Score2"]] = data["Score"].str.extract(r"(\d)(\d)", expand=True)

# Join the two parts back together with a hyphen in between
data["Score"] = data["Score1"] + "-" + data["Score2"]

# Drop the "Score1" and "Score2" columns
data.drop(["Score1", "Score2"], axis=1, inplace=True)

In [26]:
# Convert the DataFrame to a CSV file
import csv
data.to_csv('SerieA_DB.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)

In [27]:
# Convert the DataFrame to a CSV file
import csv
data1.to_csv('SerieA_DB_2.0.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)

# Comparing csv files

In [28]:
df1 = pd.read_csv("SerieA_DB.csv")
df2 = pd.read_csv("SerieA_DB_2.0.csv")

In [29]:
df1.tail()

,Attendance,Away,Date,Day,Home,Score,Time,Venue
1595,"5,735",Venezia,2021-12-19,Sun,Sampdoria,1-1,18:00,Stadio Comunale Luigi Ferraris
1596,"4,482",Venezia,2021-10-23,Sat,Sassuolo,3-1,18:00,Mapei Stadium - Città del Tricolore
1597,"7,993",Venezia,2022-04-02,Sat,Spezia,1-0,15:00,Stadio Alberto Picco
1598,"6,681",Venezia,2022-02-12,Sat,Torino,1-2,20:45,Stadio Olimpico di Torino
1599,"8,274",Venezia,2021-08-27,Fri,Udinese,3-0,18:30,Dacia Arena

In [30]:
df2.tail()

         Away        Date Half_time       Home Score  year
1595  Venezia  2021-12-19     (1-0)  Sampdoria   1-1  2021
1596  Venezia  2021-10-23     (1-1)   Sassuolo   3-1  2021
1597  Venezia  2022-04-02     (0-0)     Spezia   1-0  2022
1598  Venezia  2022-02-12     (1-1)     Torino   1-2  2022
1599  Venezia  2021-08-27     (1-0)    Udinese   3-0  2021

In [31]:
df1[['Home', 'Away']] = df1[['Home', 'Away']].astype("str").astype("str")
df2[['Home', 'Away']] = df2[['Home', 'Away']].astype("str").astype("str")

In [32]:
df1["Score"]==df2["Score"]

0       True
1       True
2       True
3       True
4       True
        ...
1595    True
1596    True
1597    True
1598    True
1599    True
Name: Score, Length: 1600, dtype: bool

In [33]:
assert df1.shape[0] == df2.shape[0], "Dataframes have different number of rows"

In [34]:
merged_df = df1.merge(df2, on=['Date', 'Home', 'Away', 'Score'])
merged_df

,Attendance,Away,Date,Day,Home,Score,Time,Venue,Half_time,year
0,"37,581",AC Milan,2019-02-03,Sun,AS Roma,1-1,20:30,Stadio Olimpico,(0-1),2019
1,"44,333",AC Milan,2019-10-27,Sun,AS Roma,2-1,18:00,Stadio Olimpico,(1-0),2019
2,NaN,AC Milan,2021-02-28,Sun,AS Roma,1-2,20:45,Stadio Olimpico,(0-1),2021
3,"51,001",AC Milan,2021-10-31,Sun,AS Roma,1-2,20:45,Stadio Olimpico,(0-1),2021
4,"20,801",AC Milan,2019-02-16,Sat,Atalanta,1-3,20:30,Stadio Atleti Azzurri d'Italia,(1-1),2019
...,...,...,...,...,...,...,...,...,...,...
1595,"5,735",Venezia,2021-12-19,Sun,Sampdoria,1-1,18:00,Stadio Comunale Luigi Ferraris,(1-0),2021
1596,"4,482",Venezia,2021-10-23,Sat,Sassuolo,3-1,18:00,Mapei Stadium - Città del Tricolore,(1-1),2021
1597,"7,993",Venezia,2022-04-02,Sat,Spezia,1-0,15:00,Stadio Alberto Picco,(0-0),2022
1598,"6,681",Venezia,2022-02-12,Sat,Torino,1-2,20:45,Stadio Olimpico di Torino,(1-1),2022
1599,"8,274",Venezia,2021-08-27,Fri,Udinese,3-0,18:30,Dacia Arena,(1-0),2021

In [35]:
matching_columns = ['Score']

for i in range(df1.shape[0]):
    row1 = df1.iloc[i][matching_columns]
    row2 = df2.iloc[i][matching_columns]
    if not (row1 == row2).all():
        print(f"Row {i} does not match: {row1} vs {row2}")

In [36]:
matching_columns = ['Home', 'Date', 'Away', 'Score']

for i in range(df1.shape[0]):
    row1 = df1.iloc[i][matching_columns]
    row2 = df2.iloc[i][matching_columns]
    print((row1 == row2).all())

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [37]:
merged_df.to_csv('/Users/jackmcfall/Desktop/Validated.csv', index=False)